@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

html,
body,
#root {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 1.2em;
  background-color: whitesmoke;
  color: #333;
}
h1,
h2,
h3,
p {
  margin: 0;
}
